<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="update-publisher.component.css">
  </head> 
  <div class="container">
    <form [formGroup]="publisherForm" (ngSubmit)="savePublisher()">
      <label>
        <span>Name</span>
        <input type="text" formControlName="name">
      </label>
      <label>
        <span>Phone</span>
        <input type="number" formControlName="phone">
      </label>
      <label>
        <span>Email</span>
        <input type="text" formControlName="email">
      </label>
      <label>
        <span>Address</span>
        <input type="text" formControlName="address">
      </label>

      <div *ngIf="publisherForm.valid">
      <input type="submit" value="Submit">
    </div>

    </form>
  </div>
  </html>