<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Book Table</title>
  <link rel="stylesheet" href="book.component.css">
</head>
<h1>BOOK TABLE</h1>
<button type="button" class="btn-primary" id="add-books-btn" (click)="addBooks()">Add Books</button>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Copies</th>
        <th>ISBN</th>
        <th>Genre</th>
        <th>Sub-Genre</th>
        <th>Publication Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.publisher}}</td>
        <td>{{book.copies}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.subGenre}}</td>
        <td>{{book.publicationDate}}</td>
        <td>
          <div class="button-group">
            <Button type="button" class="btn-primary" (click)="deleteBook(book.id)">Delete</Button>
            <Button type="button" class="btn-primary">Update</Button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</html>