<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="author.component.css">
</head>
<h1>AUTHOR TABLE</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth-Date</th>
        <th>Nationality</th>
      </tr>
    </thead>
    <tbody *ngIf="authors.length > 1">
      <tr *ngFor="let author of authors">
        <td>{{author.id}}</td>
        <td>{{author.name}}</td>
        <td>{{author.birthDate}}</td>
        <td>{{author.nationality}}</td>
      </tr>
    </tbody>
  </table>
</html>