<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="author.component.css">
</head>
<body>
<div class="header">
  <h1>AUTHOR TABLE</h1>
  <button type="button" class="btn-primary" (click)="addAuthor()">Add Author</button>
</div>

<form [formGroup]="searchForm" (ngSubmit)="searchByName()" class="search-bar">
  <div class="button-group">
    <label for="search">Search:</label>
    <input type="text" formControlName="name" placeholder="Enter author name.....">
    <button type="submit">Go</button>
  </div>
</form>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth-Date</th>
        <th>Nationality</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="authors.length > 1">
      <tr *ngFor="let author of authors">
        <td>{{author.name}}</td>
        <td>{{author.birthDate}}</td>
        <td>{{author.nationality}}</td>
        <td>
          <div class="button-group">
            <Button type="submit" class="buttondel" (click)="deleteAuthor(author.id)">Delete</Button>
            <Button type="submit" class="buttonupdate">Update</Button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>