<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Book Table</title>
  <link rel="stylesheet" href="publisher.component.css">
</head>
<div class="container">
  <h1>PUBLISHER TABLE</h1>
  <div class="button-group">
    <button type="button" class="btn-primary" (click)="addPublisher()">Add Publisher</button>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="searchByName()" class="search-bar">
    <div class="button-group">
      <label for="search">Search:</label>
      <input type="text" formControlName="name" placeholder="Enter publisher name.....">
      <button type="submit">Go</button>
    </div>
  </form>

  <div class="tablee">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Name</div>
        <div class="col col-2">Phone</div>
        <div class="col col-3">Email</div>
        <div class="col col-4">Address</div>
        <div class="col col-5">Actions</div>
      </li>
      <li class="table-row" *ngFor="let publisher of publishers">
        <div class="col col-1" data-label="Name">{{publisher.name}}</div>
        <div class="col col-2" data-label="Phone">{{publisher.phone}}</div>
        <div class="col col-3" data-label="Email">{{publisher.email}}</div>
        <div class="col col-4" data-label="Address">{{publisher.address}}</div>
        <div class="col col-5 button-group" data-label="Actions">
          <Button type="submit" class="buttondel" (click)="deletePublisher(publisher.id)">Delete</Button>
          <Button type="submit" class="buttonupdate">Update</Button>
        </div>     
      </li>
    </ul>
  </div>

  <!-- <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let publisher of publishers">
        <td>{{publisher.name}}</td>
        <td>{{publisher.phone}}</td>
        <td>{{publisher.email}}</td>
        <td>{{publisher.address}}</td>
        <td>
          <div class="button-group">
            <Button type="submit" class="buttondel" (click)="deletePublisher(publisher.id)">Delete</Button>
            <Button type="submit" class="buttonupdate">Update</Button>
          </div>
        </td>
      </tr>
    </tbody>
  </table> -->
</div>
</html>