<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Book Table</title>
  <link rel="stylesheet" href="publisher.component.css">
</head>
<body>
  <div class="header">
    <h1>PUBLISHER TABLE</h1>
    <button type="button" class="btn-primary" (click)="addPublisher()">Add Publisher</button>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="searchByName()" class="search-bar">
    <div class="button-group">
      <label for="search">Search:</label>
      <input type="text" formControlName="name" placeholder="Enter publisher name.....">
      <button type="submit">Go</button>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let publisher of publishers">
        <td>{{publisher.name}}</td>
        <td>{{publisher.phone}}</td>
        <td>{{publisher.email}}</td>
        <td>{{publisher.address}}</td>
        <td>
          <div class="button-group">
            <Button type="submit" class="buttondel" (click)="deletePublisher(publisher.id)">Delete</Button>
            <Button type="submit" class="buttonupdate">Update</Button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>