table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  text-align: center;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e6e6e6;
}
.button-group, .search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.search-bar {
  margin-left: 20px;
}
label {
  margin-right: 10px;
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px #ccc;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #45a29e;
  color: #080808;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.buttondel[type="submit"]:hover {
  background-color: #F6756E;
}

.buttondel[type="submit"] {
  padding: 5px 10px;
  background-color: #da3712;
  color: #080808;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.buttonupdate[type="submit"]:hover {
  background-color: #ffc45f
}
.buttonupdate[type="submit"] {
  padding: 5px 10px;
  background-color: #ff8a25;
  color: #080808;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

button[type="submit"]:hover {
  background-color: #66fcf1;
}