<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="update-student.component.css">
  </head>
  <div class="container">
    <form [formGroup]="studentForm" (ngSubmit)="saveStudent()">
      <label>
        <span>Name</span>
        <input type="text" formControlName="name">
      </label>
      <label>
        <span>Department</span>
        <input type="text" formControlName="dept">
      </label>
      <label>
        <span>Roll No.</span>
        <input type="text" formControlName="rollNo">
      </label>
      <label>
        <span>Mobile</span>
        <input type="number" formControlName="mobile">
      </label>
      <label>
        <span>Birth Day</span>
        <input type="date" formControlName="birthDay" >
      </label>

      <div *ngIf="studentForm.valid">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>
  </html>
