form {
    display: flex;
    flex-direction: column;
    align-items: first baseline baseline;
  }
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  label span {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"], input[type="date"], input[type="number"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  input[type="submit"] {
    background-color: #45A29E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  input[type="submit"]:hover {
    background-color: #010101;
  }
  .container {
    text-decoration: double;
    color: #f9f9f9;
    font-family: 'lato', sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }