<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Student Table</title>
  <link rel="stylesheet" href="student.component.css">
</head>
<div class="container">
  <h1>STUDENT TABLE</h1>
  
  <div class="button-group">
    <button type="button" class="button" id="add-students-btn" (click)="addStudents()">Add Student</button>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="searchByName()" class="search-bar">
    <div class="button-group">
      <label for="search">Search:</label>
      <input type="text" formControlName="name" placeholder="Enter student name.....">
      <button type="submit">Go</button>
    </div>
  </form>
  <div class="tablee">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">Name</div>
      <div class="col col-2">Department</div>
      <div class="col col-3">Roll No.</div>
      <div class="col col-4">Phone No.</div>
      <div class="col col-5">Birth-Day</div>
      <div class="col col-6">Actions</div>
    </li>
    <li class="table-row" *ngFor="let student of students">
      <div class="col col-1" data-label="Name">{{student.name}}</div>
      <div class="col col-2" data-label="Department">{{student.dept}}</div>
      <div class="col col-3" data-label="Roll No.">{{student.rollNo}}</div>
      <div class="col col-4" data-label="Phone No.">{{student.mobile}}</div>
      <div class="col col-5" data-label="Birth-Date">{{student.birthDay}}</div>
      <div class="col col-6 button-group" data-label="Actions">
        <Button type="submit" class="buttondel" (click)="deleteStudent(student.id)">Delete</Button>
        <Button type="submit" class="buttonupdate" (click)="updateStudent(student.id)">Update</Button>
      </div>     
    </li>
  </ul>
</div>
</div>
</html>
