<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Student Table</title>
  <link rel="stylesheet" href="student.component.css">
</head>
<body>

  <div class="header">
    <h1>STUDENT TABLE</h1>
    <button type="button" class="btn-primary" id="add-students-btn" (click)="addStudents()">Add Student</button>
  </div>

  <form [formGroup]="searchForm" (ngSubmit)="searchByName()" class="search-bar">
    <div class="button-group">
      <label for="search">Search:</label>
      <input type="text" formControlName="name" placeholder="Enter student name.....">
      <button type="submit">Go</button>
    </div>
  </form>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Roll No.</th>
        <th>Phone No.</th>
        <th>Birth-Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.name}}</td>
        <td>{{student.dept}}</td>
        <td>{{student.rollNo}}</td>
        <td>{{student.mobile}}</td>
        <td>{{student.birthDay}}</td>
        <td>
          <div class="button-group">
            <Button type="submit" class="buttondel" (click)="deleteStudent(student.id)">Delete</Button>
            <Button type="submit" class="buttonupdate">Update</Button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>